SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="A904NK42", MODE:="0666", GROUP:="dialout", SYMLINK+="ttyUSB_WIDOWX"
